.main-content{
    background-color: rgb(18, 18, 18);
    overflow: auto;
    flex-grow: 1;
    border-radius: 0.3rem;
    border-color: rgb(179, 179, 179);
    margin-left: 5px;
    position: relative;
    margin: 6px 0 6px 6px;
}
header{
 position: sticky;
 top: 0;
 left: 0;
 right: 0;
 height: 100px;
 background-color: lightblue;
 padding: 0.8rem 1rem;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.back-forward-imgs{

}
.back{
    padding: 0.3rem;
    background-color: blue;
    border-radius: 20px;
    height: 24px;
}
.forward{
    padding: 0.3rem;
    background-color: blue;
    border-radius: 20px;
    height: 24px;
}
.user-signup a{
    margin-right: 0.3rem;
}
.premium-btn{
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding: 4px 14px;
    border: 1px solid black;
}
.install-app-btn{
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px solid black;
    transition: 0.3s;
}
.install-app-btn:hover, .premium-btn:hover{
    transform: scale(1.1);
    border: 1px solid black;
}
.premium-btn:hover{
    background-color: white;
    color: black;
}
.install-app-btn:hover{
    background-color: black;
}